* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: blue;
}

/* Nav styles */
.nav-style {
	background-color: red;
}

/* Nav bar */
nav {
	background-color: red;
}

nav li {
}

nav a {
	font-size: 15px;
}
